/* For use in src/lib/core/theming/_palette.scss */
$aws-orange: (
		50 : #fff3e0,
		100 : #ffe0b3,
		200 : #ffcc80,
		300 : #ffb84d,
		400 : #ffa826,
		500 : #ff9900,
		600 : #ff9100,
		700 : #ff8600,
		800 : #ff7c00,
		900 : #ff6b00,
		A100 : #ffffff,
		A200 : #fff7f2,
		A400 : #ffd6bf,
		A700 : #ffc6a6,
		contrast: (
				50 : #000000,
				100 : #000000,
				200 : #000000,
				300 : #000000,
				400 : #000000,
				500 : #000000,
				600 : #000000,
				700 : #000000,
				800 : #000000,
				900 : #000000,
				A100 : #000000,
				A200 : #000000,
				A400 : #000000,
				A700 : #000000,
		)
);

$aws-squid-ink: (
		50 : #e4e6e8,
		100 : #bdc1c5,
		200 : #91979f,
		300 : #646d78,
		400 : #434e5b,
		500 : #222f3e,
		600 : #1e2a38,
		700 : #192330,
		800 : #141d28,
		900 : #0c121b,
		A100 : #5d98ff,
		A200 : #2a77ff,
		A400 : #0059f6,
		A700 : #0050dc,
		contrast: (
				50 : #000000,
				100 : #000000,
				200 : #000000,
				300 : #ffffff,
				400 : #ffffff,
				500 : #ffffff,
				600 : #ffffff,
				700 : #ffffff,
				800 : #ffffff,
				900 : #ffffff,
				A100 : #000000,
				A200 : #ffffff,
				A400 : #ffffff,
				A700 : #ffffff,
		)
);

